#calculator{
 margin:50px;
 height:400px;
 width: 200px;
 border: 1px solid black;
 border-radius: 1px;
}

.display{
 margin:10px;
 width: 85%;
}
.button-container{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 
}
.button{height:45px;
 width:45px;
 margin:3px;
}